version: "3.9"

services:
  ps_frontend:
    container_name: ps_frontend
    hostname: ps_frontend
    restart: always
    build:
      context: ../frontend
      dockerfile: ../frontend/Dockerfile
    ports:
      - 8080:80
    networks:
      - product_store

  ps_backend:
    build:
      context: ../backend
      dockerfile: ../backend/Dockerfile
    container_name: ps_backend
    hostname: ps_backend
    restart: always
    entrypoint:
    - /bin/bash
    - -c
    - |
      ./backend-starter.sh --target migrate
      ./backend-starter.sh --target fastapi
    ports:
      - 8000:8000
    networks:
      - product_store

  ps_postgres:
    container_name: ps_postgres
    hostname: ps_postgres
    restart: always
    image: postgres:15.3
    environment:
      POSTGRES_MULTIPLE_DATABASES: product_store
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db_scripts/pg_many_db:/docker-entrypoint-initdb.d/initdb.sh
    ports:
      - 7001:5432
    networks:
      - product_store

volumes:
  postgres_data:

networks:
  product_store:
    name: product_store
    driver: bridge
